@model IEnumerable<DAL_OneProEjemplo.DetallePedido>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articulo.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.idPedido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Articulo.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pedido.idPedido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDetalle }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDetalle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDetalle })
        </td>
    </tr>
}

</table>
