@model IEnumerable<DAL_OneProEjemplo.distribuidor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idFabrica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreDistribuidor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idFabrica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreDistribuidor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
