@model IEnumerable<DAL_OneProEjemplo.Articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.existencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioUnitario)
            </th>
            <th>
                @Html.DisplayName("Fabrica")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.existencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precioUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fabricas.nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idArticulo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idArticulo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idArticulo }, new { @class = "btn btn-danger btn-xs", })
                </td>
            </tr>
        }

    </table>
</div>
